@import "../../../styles/scss/base/_variables";

h2 {
  font-size: 16px;
  font-weight: $font-bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.filters{
  float: left;
  width: 200px;
  padding-left: 20px;
  height: 100%;
}

.filter-unit {
  margin-top: 20px;
}

.filter-option {
  input{
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
  }

  span{
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
  }
}