// FONTS
$font: 'Source Sans Pro';
$font-light: 300;
$font-normal: 400;
$font-bold: 600;
$font-bolder: 600;


// Colors
$background: #FAFAFA;
$dark: #4A4A4A;
$theme: #E26D45;
$light: #fff;
$faded: #D9D9D9;